--index-url https://pypi.python.org/simple/

coloredlogs==8.0
nltk==3.2.5
#nltk corpora: cmudict, wordnet, words
pyenchant==2.0.0
python-Levenshtein==0.12.0
spacy>=2.0.0,<3.0.0
# model: en_core_web_sm